# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.SwaggerTest.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Cody\Code\Jellyfin\tmp\swagger\SwaggerTest\.idea\.idea.SwaggerTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
